@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#tsparticles canvas {
  z-index: -1 !important;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  